@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
